**/*.d
**/*.so
**/*.so.*
**/*.o
Makefile
pkgdataMakefile

source/common/svchook.mk
source/config/*.pc
source/config/Makefile.inc
source/config/pkgdata.inc
source/config/icucross.mk
source/config/icucross.inc
source/config/icucross.inc
source/config/icu-config
source/config.log
source/config.status
source/icudefs.mk