**/*.d
**/*.so
**/*.so.*
**/*.o
Makefile
pkgdataMakefile

source/config.log
source/config.status
source/icudefs.mk
source/common/svchook.mk
source/config/*.pc
source/config/Makefile.inc
source/config/pkgdata.inc
source/config/icucross.mk
source/config/icucross.inc
source/config/icucross.inc
source/config/icu-config
source/data/build-dir
source/data/build-local
source/data/icupkg.inc
source/data/out
source/data/packagedata
source/extra/uconv/pkgdata.inc
source/extra/uconv/uconv.1
source/extra/uconv/uconvmsg/fr.res
source/extra/uconv/uconvmsg/libuconvmsg.a
source/extra/uconv/uconvmsg/root.res
source/extra/uconv/uconvmsg/uconvmsg.dat
source/extra/uconv/uconvmsg/uconvmsg.lst
source/extra/uconv/uconvmsg/uconvmsg_dat.S
source/samples/cal/icucal
source/samples/date/icudate
source/tools/genbrk/genbrk.1
source/tools/genccode/genccode.8
source/tools/gencfu/gencfu.1
source/tools/gencmn/gencmn.8
source/tools/gencnval/gencnval.1
source/tools/gendict/gendict.1
source/tools/genrb/derb.1
source/tools/genrb/genrb.1
source/tools/gensprep/gensprep.8
source/tools/gentest/gentest
source/tools/icuinfo/icuinfo
source/tools/icupkg/icupkg.8
source/tools/makeconv/makeconv.1
source/tools/pkgdata/pkgdata.1
